.header {
  background: #496ddb;
  padding: 20px calc(50% - 500px) 10px;
  display: flex;
  box-sizing:content-box;
  justify-content: space-between;
  height: 70px;
}

.header__title {
  font-family: 'Luckiest Guy', cursive;
  color: #ffeedb;
  font-size: 45px;
  margin-top: 7px;
}

.main-page__search-box {
  margin-bottom: 20px;
  margin-right: 60px;
}

.header__favorites-btn-block {
  margin-left: 250px;
  margin-top: 8px;
}


