.slider div {
  background-color: bisque;
  height: 500px;
  margin-right: 0px;
}

.slider__item > span {
  text-align: center;
  font-weight: 700;
}

.slider__item {
  text-align: center;
}

.slider__item img {
  margin-left: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.slider {
  width: 70%;
}

.slider button {
  background-color: blue;
}

.slider button:hover {
  background-color: blue;
}

.slick-list {
  padding-right: 30px;
  /* padding-top: 20px; */
}
